@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

}

/* .stripes {
    background: repeating-linear-gradient(
        to right,
        #f6ba52,
        #f6ba52 10px,
        #ffd180 10px,
        #ffd180 20px
    );
} */

body {
    font-family: "Baloo Bhai 2", cursive;
    background: repeating-linear-gradient(
      to right,
      #f6ba52,
      #f6ba52 10px,
      #ffd180 10px,
      #ffd180 20px
  );
  }